@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: 0;
}
body{
    font-family: 'Mulish', sans-serif;
}
.menu{
    width: 100%;
    min-width: 50px;
}
.menu ul{
    overflow: hidden;
    background-color: black;
    color: #fff;
}
.menu ul li i{
    color: #fff;
    padding: 5px;
}
.menu ul li:hover{
    background-color: rgba(140, 142, 143, 0.377);
    border-radius: 30px;
}
#ub{
    font-size: 2rem;
}
li{
    display: block;
    float: left;
    padding: 10px 15px;
    margin: 5px 20px;
}
.right{
    float: right;
}
#sign{
    border: 1px solid black;
    background-color: #fff;
    color: black;
    border-radius:30px;
    font-size: 1.2rem;
}
.first{
    position: relative;
    display: flex;
}
.first img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.kutu h5{
    text-decoration: underline;
}
.kutu{
    position: absolute;
    top: 2rem;
    left: 20rem;
    border: none;
    background-color: #fff;
    margin: 50px 50px;
    width: 35%;
    height: 65%;
    text-align: left;
}
.kutu ul li a img{
    width: 3vh;
    object-fit: cover;
    overflow: hidden;
}
.kutu h1 , h5 , h4, button{
    margin: 2rem;
}
.kutu ul {
    text-align: center;
    justify-content: space-between;
    display: flex;
    margin: 2rem;
}
button{
    background-color: black;
    color: #fff;
    padding: 1.2rem;
    font-size: 1.5rem;
}
.view img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    overflow: hidden;
    min-width: 10%;
}
.view{
    position: relative;
}
.txt{
    position: absolute;
    top: 20px;
    left: 20px;
    padding:20px;
    margin: 50px; 
    margin-left: 12%;
    font-size: 1.2rem;
}
.txt button{
    margin-left: 0%;
}
.fcs{
    margin-top:5vh;
    margin-left:14%;
}
.second{
    justify-content: space-around;
    display: flex;
    margin-top: 5rem;
    margin-left: 2%;
}
.second img{
    width: 50vh;
    min-width: 25vh;
    object-fit: cover;
    overflow: hidden;
}
.secinfo{
    width: 80%;
    padding: 1rem;
    margin-left: 13%;
    font-size:1.1rem ;
    position: relative;
    justify-content: space-between;
    column-count: 2;
}
.secinfo h3{
    margin-bottom: 1rem;
    font-size: 1.1rem;
}
.triple{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.triple ul li a{
    font-size: 1.2rem;
    font-weight: bold;
}
.ttt{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.triple .lm{
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.418);
    transition: all .3s;
}
.triple .lm:hover{
    color: rgba(0, 0, 0, 0.884);
    text-decoration: underline;
}
.thirdOne{
    display: flex;
    margin-top: 5%;
    margin-left:20%;
    color: rgba(0, 0, 0, 0.849);
}
.card{
    margin-left:19%;
}
.card ul li{
    border: 1px solid rgba(0, 0, 0, 0.418);
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    width: 30%;
    height: 10%;
    justify-content: center;
    transition: all .5s;
    border-width: 30%;
}
.card ul li:hover{
    transform: scale(1.1);
}
.lastsign ul li{
    font-size: 1.2rem;
    font-weight: bold;
    transition: all .5s;
}
.lastsign ul li:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 0.418);
}
