@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(56,56,56);
}
.container .rightside img{
    width: 48%;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    float: right;
    transition: .5s all ;
}
.container .leftside{
    text-align: left;
    justify-content: center;
    color: rgb(111,78,55);
    max-width: 50%;
}
.container .leftside h1,p{
    padding: 2rem;
}
.container .leftside h1{
    text-align: center;
}
.container .leftside p{
    text-align: left;
}
.container .leftside .btn{
    background-color: rgb(56,56,56); 
    border: 1px solid rgb(111,78,55);
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px #888888;
    font-size: 1.2rem;
    color: rgb(111,78,55);
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin: 3rem auto;
    display: flex;
}
